.footer {
     background:   #004d4d;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     color: $white;
     bottom: 50px;
     padding-top: 10px
     
}

.footer-contacts a{
     
     // text-decoration: none;
     background-color: $green;
     color: $white;
     padding: .3rem .6rem .3rem .6rem;
     border-radius: .3rem;
     
}
.footer-notes a{
     text-decoration: none;
     color: $white;
}

@media (max-width: $desktop-breakpoint) { // mobile formating
     .navigation-menu {
         min-width: 80%;
         flex-direction: column;
     }
 }