//Media Container Styles
.card_root {
  display: "block";
  border-radius: $vs-size;
  border-color: #002c1b;
  background:   #004d4d;
  margin: $vs-size;
  min-width: 20rem;
  padding: $s-size;
}

.card-title{
  // padding: $vs-size;
  border-bottom: double;
  border-color: $off-white;
}

.iconStatusOn {
  color: $green-on;
}

.iconStatusOff {
  color: $red-off;
}
.card-items{
  display: flex;
  flex-direction: column;
  padding-bottom: $vs-size;
}
.card-items h3{
  text-decoration: underline;
  text-underline-offset: .25rem;
}

@media (max-width: $desktop-breakpoint) { // mobile formating
  .card_root {
    width: 90%;
  }
  
}
